
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --welcome:2rem;
    --title:4rem;
    --text:1.1rem;

    --welcome-mobile:1.5rem;
    --title-mobile:2.7rem;
    --text-mobile:1.1rem;
}
body{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: black;
    background-image:url('./img/back.jpg');
    width: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100vh;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0,0.9);
    padding:5px 20px;
    top: 0;
    width: 100%;
    position:fixed;
    z-index: 3000;
}

.list{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar  i{
    display: none !important;
}


.list a,.navbar > a{
    background-color: coral;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 2px cornflowerblue;
}
.navbar > a{
    background-color: coral;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.3rem;
    box-shadow: 2px 2px 1px cornflowerblue;
    position: relative;
    right: 5px;
}
.navbar i{
  color: rgb(255, 255, 255) !important;
}
.navbar a:hover{
    background-color: cornflowerblue;
    color: white !important;
}

.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.active,.info .more{
    background-color: cornflowerblue !important;
    color: white !important;
}
.info{
    padding-top: 200px;
    padding-bottom: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.info > div{
    padding:0 30px;
    
}
.info .welcome{
    font-size: var(--welcome);
    margin-bottom: 50px;
}
.info .title{
    font-size: var(--title);
    margin-bottom: 50px;
}


.info .text{
    font-size: var(--text);
    margin-bottom: 20px;
}
.info .more{
    text-decoration: none;
    font-size: var(--text);
    padding: 5px;
    border-radius: 5px;
}
.home{
    height: 100vh !important;
}

/*about*/

.info_about{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top:200px;
}
.info_content{
    padding:0 50px;
    width: 80%;
}
.about_title{
    font-size: var(--title);
    margin-bottom: 50px;
}
.about_welcome{
    font-size: var(--welcome);
    margin-bottom: 50px;
}
.about_text{
    font-size: var(--text);
    margin-bottom: 50px;
}
.about_text a{
    color: coral;
    text-decoration: none;
}

/*about*/
/*project*/
.project{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top:200px;
}
.project_content{
    display: flex;
    flex-direction: column;
}
.project_info{
    display: flex;
    height: 300px;
    background-color: white;
}
.project_title{
    font-size: var(--title);
    text-align: center;
    margin-bottom: 20px;
}
.project_list{
    display: flex;
    flex-direction: column;
}
.project_list_1,.project_list_3{
    background-color: coral;
}

.project_list_2{
    background-color:cornflowerblue;
}
/*project*/
  @media screen and (max-width: 414px) {

    .about_title,.info .title{
        font-size: var(--title-mobile);
        margin-bottom: 25px;
    }
    .about_welcome,.info .welcome{
        font-size: var(--welcome-mobile);
        margin-bottom: 25px;
    }
    .about_text,.info .text{
        font-size: var(--text-mobile);
        margin-bottom: 25px;
    }
  
    .info{
        align-items: center;
    }
    .navbar > a{
        padding: 7px;
    }
  }
  @media screen and (min-width: 800px) {
    .container{
        background-position: bottom right;
        background-size: contain;
    }
    .info{
        align-items: center;
    }
    .info .title{
        font-size: 6rem;
        margin-bottom: 50px;
        font-weight: bold;
    }
    .info .welcome{
        font-size: 3rem;
        margin-bottom: 50px;
    }
}



@media screen and (max-width:768px) {
    .navbar  i{
        display: block !important;
    }
    .container{
        background-position: center;
    }
    .list{
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        background-color: white;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color:rgba(0, 0, 0,0.9);
        position: fixed;
        z-index: 300;
    }
    .list a{
        width: 90%;
        margin-bottom: 5px;
        box-shadow: none;
        position: relative;
    }
    .left{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .right{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .hide{
        display: none !important;
    }

    .info_content{
        padding: 0 20px;
        width: 100%;
        text-align: center;
    }

}

@media screen and (min-width:1441px) {
    .info_about,.info{
        align-items: center;
        justify-content: center;
    }
    .info .title,.about_title{
        font-size: 7rem;
        margin-bottom: 50px;
        font-weight: bold;
    }
    .info .welcome,.about_welcome{
        font-size: 3rem;
        margin-bottom: 50px;
    }
    .info .text,.about_text{
        font-size: 1.5rem;
    }
}
